{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">Nro</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Fecha de Registro</th>
        <th scope="col">Fecha de Actualización</th>
        <th scope="col">Usuario de Registro</th>
        <th scope="col">Usuario de Actualización</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}

    {% for c in object_list %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.descripcion }}</td>
            <td>{{ c.fecha_registro }}</td>
            <td>{{ c.fecha_actualizacion }}</td>
            <td>{{ c.persona_registro }}</td>
            <td>{{ c.persona_actualizacion }}</td>
            <td>{{ c.estado_especialidad }}</td>
            <td>
                <a href="{% url 'hosdigital:especialidad_updateview' c.id %}" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'hosdigital:especialidad_delete' c.id %}" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}